{% extends "layout.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Fusion Table Addresses
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Fusion Table" "fusion-tables" %}
{% endblock %}

{% block nav_links %}
    <li class="nav-item"><a href="{% url 'home' %}"> Home </a></li>
    <li class="nav-item">
    	<a href="{% url 'address' %}"
           class="nav-link text-muted">
            Address Table
        </a>
    </li>
    <li class="nav-item active">
    	<a href="{% url 'fusion-tables' %}"
           class="nav-link text-muted">
            Fusion Table
        </a>
    </li>
    <li class="nav-item">
    	<a href="{% url 'sync-address' %}"
           class="nav-link text-muted confirmation-required"
           title="Synchronize address table using the fusion table.">
            Synchronize Address Table
        </a>
    </li>
{% endblock %}

{% block alert %}
{% endblock %}

{% block content %}
    {% render_table fusion_table %}
{% endblock %}
