{% extends "layout.html" %}
{% load django_bootstrap_breadcrumbs %}

{%block title %}
   	Map Application
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block nav_links %}
    <li class="nav-item active"> 
    	 <a href="{% url 'home' %}" class="nav-link text-muted">Home</a>
    </li>
    <li class="nav-item">
       <a href="{% url 'address' %}" class="nav-link text-muted">Address Table</a>
    </li>
    <li class="nav-item">
    	<a href="{% url 'fusion-tables' %}" class="nav-link text-muted">Fusion Table</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'reset-address' %}" class="nav-link confirmation-required">
            <span class="glyphicon glyphicon-trash"></span>Reset Addresses</a>
    </li>
{% endblock %}

{% block content %}
    {% include "map.html" %}
{% endblock %}
