{% extends "layout.html" %}
{% load django_bootstrap_breadcrumbs %}

{%block title %}
   	Map Application
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block nav_links %}
    <li class="nav-item active"> 
    	<a href="{% url 'address' %}" class="nav-link"> Address Table </a>
    </li>
    <li class="nav-item">
    	<a href="{% url 'fusion-tables' %}" class="nav-link"> Fusion Table </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'reset-address' %}" class="nav-link confirmation-required">
            <span class="glyphicon glyphicon-trash"></span> Reset Addresses
        </a>
    </li>
{% endblock %}

{% block content %}
    {% include "map.html" %}
{% endblock %}
