{% extends "layout.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load compile_static %}
{% load staticfiles %}

{%block title %}
   	Map Application
{% endblock %}

{% block nav_links %}
    <li class="nav-item active"> 
    	 <a href="{% url 'home' %}" class="nav-link text-muted">Home</a>
    </li>
    <li class="nav-item">
       <a href="{% url 'address' %}" class="nav-link text-muted">Address Table</a>
    </li>
    <li class="nav-item">
    	<a href="{% url 'fusion-tables' %}" class="nav-link text-muted">Fusion Table</a>
    </li>
    <li class="nav-item">
        <button class="confirmation-required btn btn-danger navbar-btn" id="reset-button">
            <span class="glyphicon glyphicon-trash"></span>Reset Addresses</button>
    </li>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript" >
        var resetUrl = "{% url 'reset-address' %}"
    </script>
    <script type="application/javascript" src="{% static "map_app/js/reset.es6"|compile %}" ></script>
{% endblock %}

{% block content %}
    <script type="application/javascript">
        var fusionTableStyle = {{ style|safe }};
    </script>
    {% include "map.html" %}
{% endblock %}
