{% load compile_static %}
{% load staticfiles %}
{% load i18n admin_static %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "map_app/css/style.css" %}">
    <head>
	<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
        <div class="nav-breadcrumbs-alert">
            {% block nav %}
                <nav class="nav navbar-inverse navbar-light" id="top-nav" style="background-color: #417690;">
		    <div class="container-fluid">
			 <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBody">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			    </button>
			    <a class="navbar-brand" href="#">Using Google API</a>
			  </div>
			  <div class="collapse navbar-collapse" id="navBody">
			     <ul class="nav navbar-nav">
			         {% block nav_links %}{% endblock %}
			     </ul>
			     <ul class="nav navbar-nav navbar-right">
			         <li class="nav-item text-white">
				    <a href="{% url 'auth_logout' %}" class="nav-link text-muted">
					    <span class="glyphicon glyphicon-log-out"></span>
					    {% trans 'Log out' %}</a>
				 </li>
			      </ul>
			  </div>
		    </div>
                </nav>
            {% endblock %}
            {% block progress %}
                {% include "progress.html" %}
            {% endblock %}
            {% block breadcrumbs %}
                {% clear_breadcrumbs %}
                {% breadcrumb "Home" "/" %}
            {% endblock %}
            {% render_breadcrumbs %}
            {% block alert %}
                {% include "alert.html" %}
            {% endblock %}
        </div>
        <div class="content container-fluid">
            {% block content %}
            {% endblock %}
            {% block scripts %}
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" integrity="sha256-uEFhyfv3UgzRTnAZ+SEgvYepKKB0FW6RqZLrqfyUNug=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script type="application/javascript" src="{% static "map_app/js/alert.es6"|compile %}" async defer></script>
                <script type="text/javascript">
                    var csrfSafeMethod = function(method){
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    };
                    $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                            // TODO: verify the origin also
                            if(!csrfSafeMethod(settings.method)){
                                xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
                            }
                        }
                    });
                    $('.confirmation-required').on('click', function(e) {
                        if(confirm("Are you sure ?")){
                            if(typeof($(e.target).data("callable")) === 'function'){
                                return $(e.target).data("callable")();
                            }
                            return true;
                        }
                        e.preventDefault();
                        e.stopPropagation();
                    })
                </script>
                <script type="application/javascript" src="{% static "map_app/js/progress.es6"|compile %}" ></script>
            {% endblock %}
        </div>
    </body>
</html>
