{% load compile_static %}
{% load staticfiles %}
{% load i18n admin_static %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "map_app/css/style.css" %}">
    <head>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
        <div class="nav-breadcrumbs-alert">
            {% block nav %}
                <nav class="nav navbar-light" id="top-nav" style="background-color: #417690;">
                    <ul class="nav navbar-nav">
                       {% block nav_links %}{% endblock %}
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item text-white">
                            <a href="{% url 'admin:logout' %}" class="nav-link text-muted">{% trans 'Log out' %}</a>
                        </li>
                    </ul>
                </nav>
            {% endblock %}
            {% block progress %}
                {% include "progress.html" %}
            {% endblock %}
            {% block breadcrumbs %}
                {% clear_breadcrumbs %}
                {% breadcrumb "Home" "/" %}
            {% endblock %}
            {% render_breadcrumbs %}
            {% block alert %}
                {% include "alert.html" %}
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" integrity="sha256-uEFhyfv3UgzRTnAZ+SEgvYepKKB0FW6RqZLrqfyUNug=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="application/javascript" src="{% static "map_app/js/alert.es6"|compile %}" async defer></script>
            <script type="text/javascript">
                var csrfSafeMethod = function(method){
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                };
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        // TODO: verify the origin also
                        if(!csrfSafeMethod(settings.method)){
                            xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
                        }
                    }
                });
                $('.confirmation-required').on('click', function(e) {
                    if(confirm("Are you sure ?")){
                        return true
                    }
                    e.preventDefault();
                    e.stopPropagation();
                })
            </script>
            <script type="application/javascript" src="{% static "map_app/js/progress.es6"|compile %}" ></script>
        </div>
    </body>
</html>
